__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
.env.*
*.egg-info/
docs/
dist/
build/
*.bak
*.swp
*.tmp
.DS_Store
.vscode/
.idea/
tests/
.git/
.gitignore
.roo
.png
logs/
examples/
implementation/
.md
*.md
node_modules/