**pycache**/
_.pyc
_.pyo
_.pyd
_.db
_.sqlite3
_.log
_.env
.env._
_.egg-info/
docs/
dist/
build/
_.bak
_.swp
_.tmp
.DS_Store
.vscode/
.idea/
tests/
logs/
examples/
.git/
.gitignore
.roo
.png
implementation/
.md
\*.mds
node_modules/
